<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="blogs_table">
    <%= render 'blogs/table', blogs: blogs %>
  </tbody>
</table>